.container{
    
        min-height: 100vh;
        min-width: 100vw;
        background: url('src\assets\homepage.webp') no-repeat center center fixed;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    
    
}
.card{
    border: none;
    margin-top: 150px;
    background-color: rgba(153, 153, 153, 0.5); 
}
h1{
    font-size: 110px;
    font-weight: 900;
    -webkit-text-stroke: 4px black;
    color: transparent;
}